<div id="room" (click)="lightOn()" class="light-on">
    <div id="lightSwitch">
      <div class="outer">
        <div class="inner"></div>
      </div>
    </div>
  </div>


<div class="wrapper">
    <header id="header">
        <img src="./assets/website/bast+sun.png" class="base-sun image">
        <img src="./assets/website/layer5.png" class="layer5 image">
        <img src="./assets/website/layer4.png" class="layer4 image">
        <img src="./assets/website/layer3.png" class="layer3 image">
        <img src="./assets/website/layer2.png" class="layer2 image">
        <img src="./assets/website/layer1.png" class="layer1 image">
        <img src="./assets/website/trees.png" class="trees image">

        <div data-value="Prakhar Singh" (mouseover)="titleAnimate($event)" id="title" class="title">This is .....</div>
    </header>

   

    <div class="torch-container aboutMe">
        <section id="section"> 
           
            <div class="contact-info">
                <i class="fa-brands fa-whatsapp fa-beat"></i> +91 971-718-8393
            </div>
            <div class="contact-info">
                <i class="fas fa-phone-alt fa-beat"></i> +91 971-718-8393
            </div>
            <div class="contact-info">
                <i class="fa-regular fa-envelope fa-beat"></i> 2000prakharsingh@gmail.com
            </div>
            <div class="options"> <span (click)="projects()"> Projects  </span> &emsp;<span (click)="aboutMe()"> About Me  </span>  </div>
        </section>


        <div id="below"></div>

        
    </div>

    <div class="experience">
        
    </div>

    
</div>