
body{
    margin: 0;
    background-color: black;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 100px;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;

}

.title{
    color:white;
    padding: 5px 10px;
    font-size: xx-large;
    z-index: 2;
    bottom: 30vh;
    -webkit-transition:2s;
    -moz-transition:2s;
    position:absolute;
    transform: translateZ(50px) scale(0.5);

}


.title:hover{
    
    color:rgb(3,7,21);
    background-color: white;
    border-radius: 10px;
}

.image{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.base-sun{
    transform: translateZ(-200px) scale(3);
}

.layer5{
    transform: translateZ(-120px) scale(2.2);
}


.layer4{
    transform: translateZ(-120px) scale(2.2);
}


.layer3{
    transform: translateZ(-80px) scale(1.8);
}


.layer2{
    transform: translateZ(-40px) scale(1.4);
}


.layer1{
    transform: translateZ(-40px) scale(1.4);
}

.trees{
    transform: translateZ(-0px) scale(1);
    animation: torch var(--animationDuration) linear var(--animationDelay) infinite alternate;
    z-index: 2;

}

.buffer{
  background-color: rgb(3,7,21);
  height: 10vh;
  width: 100%;
}

.torch-container{
    
    width: 100%;
    height: fit-content;
    background-color: rgb(3,7,21);
}

section{
    color: white;
    background-color: rgb(3,7,21);
    // padding: 2rem;
    font-size: 2rem;
    position: absolute;
    z-index: 0;
    cursor: crosshair;
    // padding: 5rem 5rem;
    width: 100%;
    height: 50rem;
    /* padding-bottom: 100vh; */
}

#below {
  cursor: crosshair;

  --cursorX: 50vw;
  --cursorY: 50vh;
  --cursorX2: 50vw;
  --cursorY2: 50vh;
  --animationDuration: 10s;
  --animationDelay: 15s;

  position: absolute;
  z-index: 1;
  height: 50rem;
  width: 100%;
  animation: torch var(--animationDuration) linear var(--animationDelay) infinite alternate;
}

#below:before {
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: normal, overlay;
  background-position: center center;
  background-size: auto, auto, cover;
  background-image:
    radial-gradient(
      circle 16vmax at var(--cursorX2) var(--cursorY2),
      rgba(3,7,21,0) 30%,
      rgba(3,7,21,.1) 40%,
      rgba(3,7,21,.5) 60%,
      rgba(3,7,21,.75) 70%,
      rgba(3,7,21,.80) 100%
    ),
    radial-gradient(
      circle 12vmax at var(--cursorX) var(--cursorY),
      rgba(255,255,255,0.7) 30%,
      rgba(255,255,255,.3) 50%,
      rgba(255,255,255,.05) 100%
    );
}

@keyframes torch {
    0%, 1%, 2%, 3%, 4%, 5%, 20%, 21%, 60%, 61%, 62%, 100% { background-image:
      radial-gradient(
        circle 16vmax at var(--cursorX2) var(--cursorY2),
        rgba(0,0,0,0) 30%,
        rgba(0,5,5,.1) 40%,
        rgba(5,5,0,.5) 60%,
        rgba(0,0,0,.75) 70%,
        rgba(0,0,0,.80) 100%
      ),
      radial-gradient(
        circle 12vmax at var(--cursorX) var(--cursorY),
        rgba(255,255,255,0.7) 30%,
        rgba(255,255,255,.3) 50%,
        rgba(255,255,255,.05) 100%
      ),
      /* url(./website/bast+sun.png); */

    }
  
    0.5%, 1.5%, 60.5% { background-image:
      radial-gradient(
        circle 12vmax at var(--cursorX2) var(--cursorY2),
        rgba(3,7,21,0) 30%,
        rgba(3,7,21,.1) 40%,
        rgba(3,7,21,.5) 60%,
        rgba(3,7,21,.75) 70%,
        rgba(3,7,21,.80) 100%
      ),
      radial-gradient(
        circle 8vmax at var(--cursorX) var(--cursorY),
        rgba(255,255,255,0.7) 30%,
        rgba(255,255,255,.3) 50%,
        rgba(255,255,255,.05) 100%
      ),
      /* url(./website/bast+sun.png); */
    }
  
    2.5%, 3.5%, 4.5%, 20.5%, 61.5% { background-image:
      radial-gradient(
        circle 8vmax at var(--cursorX) var(--cursorY),
        rgba(3,7,21,0) 30%,
        rgba(3,7,21,.1) 40%,
        rgba(3,7,21,.5) 60%,
        rgba(3,7,21,.75) 70%,
        rgba(3,7,21,.80) 100%
      ),
      radial-gradient(
        circle 4vmax at var(--cursorX) var(--cursorY),
        rgba(255,255,255,0.7) 0%,
        rgba(255,255,255,.5) 50%,
        rgba(255,255,255,.05) 100%
      ),
      
 
      /* url(./website/bast+sun.png); */
    }
}
.contact-info{
  padding: 50px;
}

.options{
  /* display: flex; */
  justify-content: center;
  text-align: center;
}



.experience{
  height: 5000px;
  width: 100%;
  background-color: rgb(237,91,103);
  z-index: 1;
}


.controller{
  padding-top: 50px;
  height: 500px;
  width: 100%;
  background-color: rgb(3,7,21);
  z-index: 1;
}

//bulb
#room {
  z-index: 1;
  display: flex;
  top: 2;
  right: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background: rgb(3,7,21);
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  padding: 20px;
}
#room:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  // background: linear-gradient(45deg, #7d7e7d 0%, #0e0e0e 100%);
  transition: all 0.05s ease-in-out;
  pointer-events: none;
}
#lightSwitch {
  z-index: 90;
  position: relative;
  cursor: pointer;
}
#lightSwitch .outer {
  position: relative;
  background: #f4f5ef;
  width: 86px;
  height: 126px;
  display: block;
  border: 1px solid #e8e8e8;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  z-index: 0;
}
#lightSwitch .outer:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  box-shadow: 3px 3px 0 0 #ededed;
  transform: rotate(45deg);
}
#lightSwitch .outer:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 75px;
  background: linear-gradient(125deg, rgba(160,150,140,0.5), rgba(160,150,140,0));
  border-radius: 50%;
  top: 13px;
  right: 2px;
  z-index: -1;
}
#lightSwitch .inner {
  background: linear-gradient(to bottom, #e9e6de 0%, #fefdfd 100%);
  position: relative;
  width: 68px;
  height: 110px;
  display: block;
  margin: 6px auto 0;
  border: 1px solid #e4e4e4;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}
#lightSwitch .inner:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  box-shadow: 5px 5px 0 0 #fff;
  transform: rotate(226deg);
}
#lightSwitch .inner:before {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0px;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  box-shadow: 1px 1px 0 0 #ededed;
  transform: rotate(45deg);
}
#room.light-on:before {
  opacity: 0;
}
#room.light-off:before {
  opacity: 0.6;
}
#room.light-off #lightSwitch .inner {
  background: linear-gradient(to bottom, #fefdfd 0%, #f9f9f9 100%);
}
#room.light-off #lightSwitch .inner:after {
  top: auto;
  bottom: 5px;
  transform: rotate(45deg);
  box-shadow: 5px 5px 0 0 #eee;
}
#room.light-off #lightSwitch .inner:before {
  bottom: -2px;
  box-shadow: 3px 3px 0 0 #e1e1e1;
}
#room.light-off #lightSwitch .outer:before {
  opacity: 0.5;
}
#room.light-off #lightSwitch .outer:after {
  top: auto;
  bottom: 0;
  right: 1px;
  opacity: 0.6;
}




